[Unit]
Description=The nerve sensor daemon.
Requires=network.target

[Service]
User=root
StandardError=syslog
ExecStart=/usr/bin/nerve -d 4 -t AM2302 -m 23

[Install]
WantedBy=basic.target
